.sidebar {
    height: auto;
    background: #e5e7ee;
    color: #fff;
    padding: 1rem;
    min-height: 100vh;
    min-width: 300px !important;
}

.adminLogo {
    height: 40px;
    height: 70px;
    object-fit: contain;
}


.sidebar a {
    color: #2B46BD;
    text-decoration: none;
    font-size: 15px;
}

.sidebar a:hover,
.sidebar .nav-link.active {
    background: #2B46BD;
    color: #fff;
    padding-left: 10px;
    transition: 0.3s;
    border-radius: 8px;
}

.nav-item ul {
    background: #cdd7ea;
    margin-top: 5px;
    border-radius: 8px;
}