.sidebar {
    height: auto;
    background: #343a40;
    color: #fff;
    padding: 1rem;
    min-height: 100vh;
    min-width: 300px !important;
}



.sidebar a {
    color: #adb5bd;
    text-decoration: none;
    font-size: 15px;
}

.sidebar a:hover,
.sidebar .nav-link.active {
    background: #495057;
    color: #fff;
    padding-left: 10px;
    transition: 0.3s;
}