<nav class="navbar navbar-expand navbar-light px-4">
    <div class="container-fluid">
        <span class="navbar-brand">Admin Panel</span>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> Admin
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="/profile"><i class="bi bi-person"></i>
                            Profile</a>
                    </li>
                    <li><a class="dropdown-item text-danger" href="/logout"><i class="bi bi-box-arrow-right"></i>
                            Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>