<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card p-3">
            <h5 class="card-title">Total Shipments</h5>
            <h3>1,234</h3>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card p-3">
            <h5 class="card-title">Pending Deliveries</h5>
            <h3>56</h3>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card p-3">
            <h5 class="card-title">Active Drivers</h5>
            <h3>78</h3>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card p-3">
            <h5 class="card-title">Revenue</h5>
            <h3>$45,000</h3>
        </div>
    </div>
</div>