<link rel="stylesheet" href="/admin/css/websiteManagement/tracking.css">
<style>
    .trackingHeadding {
        color: #252223;
    }

    .btn-close-white {
        filter: none !important;
    }

    .custom-modal {
        max-width: 70%;
    }
</style>
<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-bold">📦 Tracking Management</h3>
        <div>
            <button class="btn btn-success me-2" id="downloadAllTrackingCsv">
                <i class="fas fa-download me-2"></i> Download CSV
            </button>
            <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#trackingModal">
                <i class="fas fa-plus me-2"></i> Add Tracking
            </button>
        </div>
    </div>

    <div class="card shadow-sm mb-4" id="searchTrackingCard">
        <div class="card-body">
            <h5 class="mb-3">Search Trackings</h5>
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="searchTrackingId" class="form-label">Tracking ID</label>
                    <input type="text" class="form-control" id="searchTrackingId" placeholder="Enter Tracking ID">
                </div>
                <div class="col-md-3">
                    <label for="searchStatus" class="form-label">Status</label>
                    <select id="searchStatus" class="form-select">
                        <option value="">All</option>
                        <option value="1">Pickup</option>
                        <option value="2">Out for Delivery</option>
                        <option value="3">In Progress</option>
                        <option value="4">Delivered</option>
                        <option value="5">Cancelled</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="searchDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="searchDate">
                </div>


                <div class="col-md-3 d-flex gap-2 align-items-end">
                    <button class="btn btn-primary" id="searchBtn">Search</button>
                    <button class="btn btn-secondary" id="resetBtn">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table id="trackingTable" class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Tracking ID</th>
                            <th>From Location</th>
                            <th>Drop Location</th>
                            <th>Transport Mode</th>
                            <th>No. of Mode</th>
                            <th>Status</th>
                            <th>Delivery Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trackingModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="trackingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal">
        <div class="modal-content border-0 rounded-3">
            <div class="modal-header bg-pink text-white">
                <h5 class="modal-title trackingHeadding" id="trackingModalLabel">Add Tracking</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form id="trackingForm" enctype='multipart/form-data'>
                <div class="modal-body">
                    <input type="hidden" id="trackingId" name="id">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="trackingCode" class="form-label">Tracking ID <strong
                                    class="text-danger">*</strong></label>
                            <input type="text" class="form-control" id="trackingCode" name="trackingId"
                                placeholder="Enter Tracking ID">
                        </div>
                        <div class="col-md-6">
                            <label for="pickUpLocation" class="form-label">Pickup Location</label>
                            <input type="text" class="form-control" id="pickUpLocation"
                                placeholder="Enter Pickup Location" name="pickUpLocation">
                        </div>
                        <div class="col-md-6">
                            <label for="dropLocation" class="form-label">Drop Location</label>
                            <input type="text" class="form-control" id="dropLocation" placeholder="Enter Drop Location"
                                name="dropLocation">
                        </div>
                        <div class="col-md-6">
                            <label for="transportMode" class="form-label">Transport Mode <strong
                                    class="text-danger">*</strong></label>
                            <input type="text" class="form-control" id="transportMode" name="transportMode"
                                placeholder="Enter Transport Mode">
                        </div>

                        <div class="col-md-6">
                            <label for="noOfPacking" class="form-label">No. of Package <strong
                                    class="text-danger">*</strong></label>
                            <input type="number" class="form-control" id="noOfPacking" name="noOfPacking"
                                placeholder="Enter No. of Package">
                        </div>

                        <div class="col-md-6">
                            <label for="deliveryDate" class="form-label">Delivery Date <strong
                                    class="text-danger">*</strong></label>
                            <input type="date" class="form-control" id="deliveryDate" name="deliveryDate">
                        </div>

                        <div class="col-md-6">
                            <label for="deliveryTime" class="form-label">Time <strong
                                    class="text-danger">*</strong></label>
                            <input type="time" class="form-control" id="deliveryTime" name="deliveryTime">
                        </div>

                        <div class="col-md-6">
                            <label for="trackingStatus" class="form-label">Status <strong
                                    class="text-danger">*</strong></label>
                            <select class="form-select" id="trackingStatus" name="status">
                                <option value="">Select Status</option>
                                <option value="1">Pickup</option>
                                <option value="2">Out for Delivery</option>
                                <option value="3">In Progress</option>
                                <option value="4">Delivered</option>
                                <option value="5">Cancelled</option>
                            </select>
                        </div>
                        <div class="col-md-6 pod d-none">
                            <label for="pod" class="form-label">POD</label>
                            <input type="file" class="form-control image_view" id="pod" name="pod" accept="image/*">

                            <div id="filePreviewContainer" class="mt-2" style="display: none;">
                                <img id="imagePreview" src="#" alt="Tracking Image Preview"
                                    style="max-width: 100px; max-height: 100px; display: none;">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-pink w-100">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let trackingTable;
    // This ensures the script runs after the DOM is fully loaded
    $(document).ready(function () {

        $('#pod').on('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result).show();
                    $('#filePreviewContainer').show();
                };
                reader.readAsDataURL(file);
            }
        });

        // Initialize DataTable
        trackingTable = $('#trackingTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '/tracking/trackingList/',
                type: 'POST',
                data: function (d) {
                    d.trackingCode = $('#searchTrackingId').val();
                    d.pickUpLocation = $('#pickUpLocation').val();
                    d.dropLocation = $('#toLocation').val(); // Corrected ID here
                    d.status = $('#searchStatus').val();
                    d.date = $('#searchDate').val();
                }
            },
            columns: [
                {
                    data: null,
                    orderable: false, // Disable ordering for the index column
                    render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1
                },
                {
                    data: 'trackingId',
                    orderable: false,

                },
                {
                    data: 'pickUpLocation',
                    orderable: false,

                }, // Corrected data property to 'pickUpLocation'
                {
                    data: 'dropLocation',
                    orderable: false,

                },
                {
                    data: 'transportMode',
                    orderable: false,

                },
                { data: 'noOfPacking' },

                {
                    data: 'status',
                    orderable: false,

                    render: function (data) {
                        // Status color mapping
                        let statusColor = '';
                        let statusText = '';

                        switch (parseInt(data)) { // Ensure data is treated as an integer for comparison
                            case 1:
                                statusColor = 'badge bg-warning'; // Pickup
                                statusText = 'Pickup';
                                break;
                            case 2:
                                statusColor = 'badge bg-info'; // Out for Delivery
                                statusText = 'Out for Delivery';
                                break;
                            case 3:
                                statusColor = 'badge bg-primary'; // In Progress
                                statusText = 'In Progress';
                                break;
                            case 4:
                                statusColor = 'badge bg-success'; // Delivered
                                statusText = 'Delivered';
                                break;
                            case 5:
                                statusColor = 'badge bg-danger'; // Cancelled
                                statusText = 'Cancelled';
                                break;
                            default:
                                statusColor = 'badge bg-secondary'; // Unknown
                                statusText = 'Unknown';
                                break;
                        }

                        return `<span class="${statusColor}">${statusText}</span>`;
                    }
                },



                {
                    data: 'deliveryDate', // Assuming your server returns the combined date and time in 'deliveryDate'
                    render: function (data) {
                        return moment(data).format('YYYY-MM-DD HH:mm:ss'); // Format the date and time as needed
                    }
                },
                {
                    data: null,
                    orderable: false,
                    render: function (data, type, row) {
                        return `
                            <button class="btn btn-sm btn-primary editBtn" data-id="${row._id}">Edit</button>
                            <button class="btn btn-sm btn-danger deleteBtn" data-id="${row._id}">Delete</button> `;
                    }
                }
            ]
        });

        // Search Button
        $('#searchBtn').click(function () {
            trackingTable.ajax.reload();
        });

        // Reset Button
        $('#resetBtn').click(function () {
            $('#searchTrackingId, #pickUpLocation, #toLocation, #searchStatus, #searchDate').val(''); // Included fromLocation and toLocation in reset
            trackingTable.ajax.reload();
        });

        // Submit Add/Edit Form
        $('#trackingForm').submit(function (e) {
            e.preventDefault();
            const formElement = document.getElementById('trackingForm'); // Corrected: Used 'trackingForm' instead of 'bannerForm'

            // Trimmed values
            const trackingCode = $('#trackingCode').val().trim();
            const pickUpLocation = $('#pickUpLocation').val().trim();
            const dropLocation = $('#dropLocation').val().trim();
            const transportMode = $('#transportMode').val().trim();
            const noOfPacking = $('#noOfPacking').val().trim();
            const deliveryDate = $('#deliveryDate').val().trim();
            const deliveryTime = $('#deliveryTime').val().trim();
            const trackingStatus = $('#trackingStatus').val().trim();
            // const id = $('#trackingId').val();

            // Validation
            if (!trackingCode) {
                toastr.error('Please enter tracking ID', 'Validation Error');
                return;
            }
            if (!pickUpLocation) {
                toastr.error('Please enter pickup location', 'Validation Error');
                return;
            }
            if (!dropLocation) {
                toastr.error('Please enter drop location', 'Validation Error');
                return;
            }
            if (!transportMode) {
                toastr.error('Please enter transport mode', 'Validation Error');
                return;
            }
            if (!noOfPacking) {
                toastr.error('Please enter number of packings', 'Validation Error');
                return;
            }
            if (!deliveryDate) {
                toastr.error('Please select a date.', 'Validation Error');
                return;
            }
            if (!deliveryTime) {
                toastr.error('Please select delivery time.', 'Validation Error');
                return;
            }
            if (!trackingStatus) {
                toastr.error('Please select tracking status.', 'Validation Error');
                return;
            }
            if (trackingStatus == 4) {
                const podFile = $('#pod')[0].files[0];
                if (!podFile) { // Required on add
                    toastr.error('Please select Pod Image.', 'Validation Error');
                    return;
                }
            }

            // Use FormData for file + text upload
            // const formData = new FormData();
            // formData.append('trackingCode', trackingCode);
            // formData.append('pickUpLocation', pickUpLocation);
            // formData.append('dropLocation', dropLocation);
            // formData.append('transportMode', transportMode);
            // formData.append('noOfPacking', noOfPacking);
            // formData.append('deliveryDate', deliveryDate);
            // formData.append('deliveryTime', deliveryTime);
            // formData.append('status', trackingStatus);
            const id = $('#trackingId').val();
            const formData = new FormData(formElement);

            if (trackingStatus != 4) {
                formData.delete("pod");
            }

            const form = $('#trackingForm')[0];
            form.reset(); // Reset the form every time the modal is shown
            $('#trackingModalLabel').text('Add Tracking')


            const actionUrl = id ? `/tracking/editTracking/${id}` : '/tracking/addTracking';

            $.ajax({
                url: actionUrl,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    $('#trackingModal').modal('hide');
                    $('#trackingForm')[0].reset();
                    trackingTable.ajax.reload();
                    toastr.success('Tracking Data saved successfully!', 'Success');

                    // window.location.reload();
                },
                error: function (xhr) {
                    const errorMsg = xhr.responseJSON?.message || 'Failed to save tracking.';
                    toastr.error(errorMsg, 'Error');
                }
            });
        });

        // Edit Button
        $(document).on('click', '.editBtn', function () {
            const id = $(this).data('id');
            const imagePreview = $('#imagePreview');

            const imagePreviewContainer = $('#imagePreviewContainer');


            $.ajax({
                url: '/tracking/get/' + id,
                type: 'GET',
                success: function (data) {
                    $('#trackingId').val(data._id);
                    $('#trackingCode').val(data.trackingId);
                    $('#pickUpLocation').val(data.pickUpLocation); // Added pickup location
                    $('#dropLocation').val(data.dropLocation); // Added drop location
                    $('#transportMode').val(data.transportMode); // Added transport mode
                    $('#noOfPacking').val(data.noOfPacking); // Added no of packing
                    $('#trackingStatus').val(data.status);
                    $('#deliveryDate').val(moment(data.deliveryDate).format('YYYY-MM-DD')); // Corrected ID and format date
                    let time = data.deliveryTime?.substring(0, 5); // "14:30:00" → "14:30"
                    $('#deliveryTime').val(time);

                    if (data.status == 4) {
                        $('.pod').removeClass('d-none');
                        $('#pod').attr('src', data.pod);
                        if (data.pod) {
                            imagePreview.attr('src', data.pod);
                            imagePreviewContainer.show();
                        }
                    }
                    else {
                        $('.pod').addClass('d-none');
                    }
                    $('#trackingModal').modal('show');
                }
            });

            $('#trackingStatus').change(function () {
                // Code to execute when the element's value changes
                console.log("The value of the element has changed!");
                let trackingVal = $(this).val();
                if (trackingVal == 4)
                    $('.pod').removeClass('d-none');
                else
                    $('.pod').addClass('d-none');

            });
        });

        $('#trackingTable').on('click', '.editBtn', function () {
            const trackingId = $(this).data('id');
            $('#trackingModalLabel').text('Edit Tracking')
            $('#trackingModal').modal('show', this); // Pass the button element for context
        });

        // Delete Button
        $(document).on('click', '.deleteBtn', function () {
            const id = $(this).data('id');
            if (confirm("Are you sure you want to delete this tracking?")) {
                $.ajax({
                    url: '/tracking/delete/' + id,
                    type: 'DELETE',
                    success: function () {
                        trackingTable.ajax.reload();
                    }
                });
            }
        });

        // Download CSV
        $('.btn-close').click(function () {
            window.location.reload();
        });

        $('#downloadAllTrackingCsv').click(function () {
            const params = new URLSearchParams({
                trackingCode: $('#searchTrackingId').val(),
                status: $('#searchStatus').val(),
                date: $('#searchDate').val()
            });
            window.location.href = '/tracking/downloadCsv?' + params.toString();
        });
    });

</script>